/* toàn trang */
body{
    font-family: Arial, sans-serif;
    background:#f5f5f5;
    margin:0;
}

/* container */
.container{
    width:1000px;
    margin:auto;
}

/* tiêu đề chính */
h1{
    text-align:center;
    color:#2e7d32;
    margin-top:40px;
    margin-bottom:20px;
}

/* đoạn giới thiệu */
.intro{
    text-align:center;
    line-height:1.6;
    color:#555;
    width:80%;
    margin:auto;
}

/* hình ảnh */
.intro-img{
    display:block;
    margin:30px auto;
    width:350px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* khối nội dung */
.section{
    background:white;
    padding:30px;
    margin:30px 0;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

/* tiêu đề khối */
.section h2{
    text-align:center;
    color:#333;
    margin-bottom:15px;
}

/* nội dung */
.section p{
    text-align:center;
    line-height:1.6;
    color:#555;
}

/* danh sách */
.section ul{
    width:60%;
    margin:auto;
    line-height:2;
}

/* navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    background:white;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.navbar a{
    text-decoration:none;
    margin-left:20px;
    color:#333;
}

.navbar a:hover{
    color:#2e7d32;
}
.product-box{
display:flex;
justify-content:center;
gap:40px;
margin-top:30px;
}

.box{
text-align:center;
}

.box img{
width:180px;
height:180px;
object-fit:cover;
border-radius:10px;
}
section{
padding:40px 0;
}
