.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product{
    width: 200px;
    background: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.product img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.product p{
    font-size: 18px;
    margin: 10px 0;
}

.product span{
    color: green;
    font-weight: bold;
}